img{width:100px; height:150px;}

.progress {
	display: block;
}

html {
  background-color: #ADD8E6;
}

body {
  background: none;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
}

strong {
  color: #0E3FE5;
}

.navbar {
  background: #0000FF;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #0000FF;
  border-color: #0000FF;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #013293;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat-x;
}